@import url("https://fonts.googleapis.com/css2?family=Scheherazade:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Saol Display Regular";
  src: url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.eot");
  src: url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.woff") format("woff"), url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.svg#Saol Display Regular") format("svg");
}

@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-1Thin';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-7ExtraBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-8Heavy';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 14px;
  background: #f0eeeb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

a {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

em, address {
  font-style: normal;
}

strong {
  font-weight: normal;
}

p,
dl,
ol,
ul {
  word-break: keep-all;
}

img {
  border: 0;
  vertical-align: top;
  width: 100%;
}

table {
  border: 0;
  border-collapse: collaspe;
  border-spacing: 0;
  width: 100%;
}

li,
ul {
  list-style: none;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 82px;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #2e2e30;
}

#header .site {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

#header .site a {
  position: relative;
  text-transform: capitalize;
  display: block;
  padding-left: 40px;
  border-right: 1px solid #2e2e30;
  width: 175px;
  height: 82px;
  padding: 32px 27px 27px 65px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .site a::before {
  content: "";
  position: absolute;
  left: 48px;
  top: 36px;
  width: 30px;
  height: 1px;
  background: #f0eeeb;
}

#header .site a::after {
  content: "";
  position: absolute;
  left: 48px;
  top: 46px;
  width: 30px;
  height: 1px;
  background: #f0eeeb;
}

#header .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 0.2rem;
}

#header .logo a {
  font-family: "Saol Display";
  font-weight: bold;
}

#header .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  text-align: right;
}

#header .nav ul {
  margin-right: 20px;
}

#header .nav li {
  display: inline;
}

#header .nav li a {
  display: inline-block;
  padding: 10px;
}

#header a {
  color: #f0eeeb;
}

#header.white {
  background: #f0eeeb;
  border-bottom: 1px solid #DAD8D1;
}

#header.white .site a {
  border-right: 1px solid #DAD8D1;
}

#header.white a {
  color: #000000;
}

#header.white a::before {
  background-color: #000000;
}

#header.white a::after {
  background-color: #000000;
}

#mainCont {
  background-color: #000000;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCont {
  color: #fff;
  font-size: 9vw;
  line-height: 0.8;
  font-family: "Saol Display";
  font-weight: normal;
  margin-top: 6vh;
}

.mainCont > div {
  margin-bottom: 0.5vw;
  padding-bottom: 1vw;
}

.mainCont .white {
  background-color: #fff;
  color: #000;
  display: inline-block;
}
